autopep8==1.7.0
click==8.0.4
distlib==0.3.6
dnspython==2.2.1
filelock==3.9.0
Flask==2.0.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Pillow==9.4.0
platformdirs==3.0.0
psycopg2-binary==2.9.5
pycodestyle==2.9.1
PyJWT==2.4.0
pypdf2==3.0.1
python-dotenv==0.20.0
reportlab==3.6.11
six==1.16.0
toml==0.10.2
tornado==6.1
typing-extensions==4.4.0
virtualenv==20.19.0
Werkzeug==2.0.3
