autopep8==1.7.0
click==8.0.4
dnspython==2.2.1
Flask==2.0.3
Flask-PyMongo==2.3.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pycodestyle==2.9.1
PyJWT==2.4.0
pymongo==4.1.1
python-dotenv==0.20.0
six==1.16.0
toml==0.10.2
tornado==6.1
Werkzeug==2.0.3

