<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Guia do Usuário</title>
</head>

<body>
  <h2>Visão geral</h2>
  <p>O aplicativo Computação@UFCG permite que você solicite a validação das suas Atividades Complementares Flexíveis
    à
    medida que elas vão sendo realizadas. Depois que você completar 22 créditos nessas atividades, o aplicativo
    permite
    que você gere um documento pdf que pode ser usado para instruir o processo no SEI que você deve abrir para
    solicitar
    o aproveitamento de suas Atividades Complementares Flexíveis.</p>
  <h2>Passo-a-passo</h2>
  <ol>
    <li>Registre em ‘Atividades Complementares > Registrar Atividade’</li>
    <li>Você pode acompanhar a validação dessas atividades em ‘Atividades Complementares > Atividades Registradas’
    </li>
    <li>Quando completar 22 créditos de Atividades Complementares Flexíveis, gerar o documento que atesta essas
      atividades (via o aplicativo Computação@UFCG)</li>
    <li>Vá em ‘Atividades Complementares > Gerar Processo’</li>
    <li>Após o download do PDF, selecione um pasta e salve o processo gerado</li>
    <li>Abrir processo no SEI solicitando à Coordenação do Curso o aproveitamento de suas Atividades Complementares
      Flexíveis</li>
    <li>Crie uma conta no site do SEI</li>
    <li>Acesse pela opção ‘Usuário Externo’</li>
    <li>Vá em ‘Peticionamento > Processo Novo’</li>
    <li>Selecione o Tipo de Processo ‘Graduação: Registro de Atividades Acadêmicas Complementares’</li>
    <li>Preencha o campo Interessados com o seu nome, selecione o Nível de Acesso ‘Público’.</li>
    <li>Anexe ao processo o documento pdf gerado no passo 2.</li>
    <li>Envie o processo para a Coordenação do Curso de Ciência da Computação</li>
  </ol>
  <h2>O que são as Atividades Complementares Flexíveis?</h2>
  <p>As Atividades Complementares Flexíveis são componentes curriculares que deverão possibilitar o desenvolvimento
    de
    habilidades e competências do aluno, inclusive adquiridas fora do ambiente acadêmico, abrangendo estudos e
    atividades independentes, transversais, interdisciplinares, de permanente contextualização e atualização para o
    enriquecimento do perfil do formando.</p>
  <p>O Colegiado do Curso definiu um conjunto de categorias de atividades que se enquadram no perfil descrito acima,
    além da duração mínima dessas atividades para que permitam a atribuição de créditos, o número de créditos a serem
    atribuídos de acordo com a carga horária da atividade realizada, o número máximo de créditos que podem ser
    acumulado
    em cada categoria, os documentos comprobatórios que precisam ser apresentados e, quando pertinente, os
    condicionantes que permitem que a atividade seja validada.</p>
  <h2>Links úteis:</h2>
  <ul>
    <li>Regulamentação das Atividades Complementares</li>
    <li>Categorias definidas pelo Colegiado de Curso</li>
  </ul>
</body>

</html>